<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>hello@jacobsvensson.design</title>
<meta name="description" content="I'm a Malmö based designer who believe in design through iterative processes with users and prototypes.">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="hello@jacobsvensson.design">
<meta itemprop="description" content="I'm a Malmö based designer who believe in design through iterative processes with users and prototypes.">
<meta itemprop="image" content="og-image.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://jacobsvensson.design">
<meta property="og:type" content="website">
<meta property="og:title" content="hello@jacobsvensson.design">
<meta property="og:description" content="I'm a Malmö based designer who believe in design through iterative processes with users and prototypes.">
<meta property="og:image" content="og-image.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="hello@jacobsvensson.design">
<meta name="twitter:description" content="I'm a Malmö based designer who believe in design through iterative processes with users and prototypes.">
<meta name="twitter:image" content="og-image.png">

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
<!-- Place favicon.ico in the root directory -->