<nav>
    <h1>
        <a href="https://jacobsvensson.design" rel="prefetch">
        <svg width="29px" height="28px" viewBox="0 0 29 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Desktop-HD" transform="translate(-120.000000, -72.000000)" fill="#FDF2F2">
                <path d="M134.250366,72 L134.749634,72 L149,85.7791527 L149,100 L120,100 L120,85.7791527 L134.250366,72 Z" id="Combined-Shape"></path>
            </g>
        </svg>
        jacobsvensson.design</a>
    </h1>
    <ul>
        <li>
            <a href="#" class="current">Writing</a>
        </li>
        <li>
            <a href="./" rel="prefetch">About</a>
        </li>
    </ul>
</nav>